<section class="repris">
  <slot />
</section>

<style>
  .repris {
    --sym-size: 1.4em;
    --sym-margin: 0.5em;
  }

  .repris :global(p):first-of-type {
    position: relative;
    text-indent: 1.75ch;
  }
  .repris :global(p):last-of-type {
    position: relative;
  }

  .repris :global(p):first-of-type::before {
    content: "𝄆";

    position: absolute;
    margin-right: var(--sym-margin);
    font-size: var(--sym-size);
    line-height: 1;
    transform: translate(-2.25ch, 0);
    display: inline-block;
  }

  .repris :global(p):last-of-type::after {
    content: "𝄇";
    position: absolute;
    margin-left: 0.2em;
    font-size: var(--sym-size);
    line-height: 1;
    display: inline-block;
  }
</style>
